<footer  class=" blue-grey darken-4" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        
          <h5 class="white-text">Navigation</h5>
          <ul>
            <li><a class="white-text" href="/">Home</a></li>
            <li><a class="white-text" href="/blog/">Blog</a></li>
            <li><a class="white-text" href="/register">Sign up</a></li>
            <li><a class="white-text" href="/login">log in</a></li>
          </ul>
        
      
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="/">LinkedIn</a></li>
            <li><a class="white-text" href="/">Twitter</a></li>
            <li><a class="white-text" href="/">Github</a></li>
            <li><a class="white-text" href="/">Telegram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        content on this site is licensed under the Creative Commons Attribution Share-Alike License v3.0 or any later version.
      </div>
    </div>
</footer>


