{% extends 'main/header.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <div class="container">
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    
    <a href='/accounts/password_reset_done.html'><button class="btn" style="background-color: #FFD166;color:#000" type="submit">Send me instructions!</button></a>
  
  </form>
</div>
{% endblock %}
